---
import plus from '../assets/plus.svg'
import home from '../assets/home.svg'
import glass from '../assets/glass.svg'
import reel from '../assets/reel.svg'
---

<section class='sticky bottom-0 bg-white'>
  <nav>
    <ul class='flex justify-around items-center h-10'>
      <li>
        <a href='#'><img src={home.src} alt='' class='h-5' /></a>
      </li>
      <li>
        <a href='#'><img src={glass.src} alt='' class='h-5' /></a>
      </li>
      <li>
        <a href='#'><img src={plus.src} alt='' class='h-5' /></a>
      </li>
      <li>
        <a href='#'><img src={reel.src} alt='' class='h-5' /></a>
      </li>
      <li>
        <a href='#'>
          <img
            src='https://i.pravatar.cc/150?img=11'
            alt=''
            class='rounded-full h-5 border'
          />
        </a>
      </li>
    </ul>
  </nav>
</section>
